---
layout: default
title: Drinks - List
active: /drinks
---

<p class="intro"></p>

<div class="list-list">
    {% include drinks_sub_navigation.html %}

    {% for category in site.categories %}
        <h2>{{ category | first | replace:'-', ' ' | capitalize_all }}</h2>
        <ul>
        {% for posts in category %}
          {% for post in posts %}
            {% if post.url %}
                <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}{% if post.subtitle %} - {{ post.subtitle }}{% endif %}</a></li>
            {% endif %}
          {% endfor %}
        {% endfor %}
        </ul>
    {% endfor %}