---
layout: index
---

    <div class="thumbs">
      <div class="row">
        <div class="col-md-6">
          <div class="row">

          {% for post in site.posts limit:12 %}
            <div class="col-sm-6">
              <div class="thumb row">
                <a href="{{ site.baseurl }}{{ post.url }}" class="overlay">
                  <div class="title">
                    {{ post.title }}
                    <div class="subtitle">
                      {% if post.subtitle %}
                        {{ post.subtitle }}
                      {% endif %}
                    </div>
                    <div class="rating">
                      {% if post.rating %}
                        {% for i in (1..post.rating) %}
                          <i class="glyphicon glyphicon-star"></i>
                        {% endfor %}

                        {% for i in (1..site.maxrating) offset:post.rating %}
                          <i class="glyphicon glyphicon-star-empty"></i>
                        {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                </a>
                <img src="{{ site.baseurl }}{{ post.thumb }}" />
              </div>
            </div>

            {% cycle '', '</div></div><div class="col-md-6"><div class="row">', '', '</div></div></div><div class="row"><div class="col-md-6"><div class="row">' %}

          {% endfor %}
          </div>
        </div>
      </div> <!-- /row -->
    </div><!-- /thumbs -->
