---
layout: default
title: Drinks
---

<p class="intro"></p>

<div class="list-thumbs">
    {% include drinks_sub_navigation.html %}

    {% for category in site.categories %}
        <h2>{{ category | first | replace:'-', ' ' | capitalize_all }}</h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    {% for posts in category %}
                        {% for post in posts %}
                          {% if post.url %}
                            <div class="col-xs-6">
                                <div class="thumb">
                                    <a href="{{ site.baseurl }}{{ post.url }}">
                                        <img src="{{ site.baseurl }}{{ post.thumb }}">
                                    </a>
                                </div>
                            </div>
                            {% cycle category: '', '</div></div><div class="col-sm-4"><div class="row">' %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}