---
layout: default
---

<div class="detail">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="img-container">
          <img src="{{ site.baseurl }}{{ page.image }}" />
        </div>
      </div>
      <div class="col-md-7">
        <h2>{{ page.title }}</h2>
        <h3>{{ page.subtitle }}</h3>
        <div class="rating">
          {% if page.rating %}
            {% for i in (1..page.rating) %}
              <i class="glyphicon glyphicon-star"></i>
            {% endfor %}

            {% for i in (1..site.maxrating) offset:page.rating %}
              <i class="glyphicon glyphicon-star-empty"></i>
            {% endfor %}
          {% endif %}
        </div>
        {{ content }}
      </div>
    </div>
  </div><!-- /container -->
</div><!-- /detail -->